{% extends 'main.html' %}

{% load crispy_forms_tags %}


{% block content %}

    <!-- Diplaying Django messages -->
    {% if messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {% for message in messages %}
            <strong>{{message}}</strong>
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    {% if user.is_staff %}
        <form action="" method="post"  class="mt-2 mb-5 col-6 align-middle">
            <h1 align="center">Add New Tag</h1>
            <hr>

            {% csrf_token %}

            <table>
                {{ form | crispy}}
            </table>

            <br>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    {% else %}
        <h3>Sorry, you are not authorized to perfomr this action. <a href="{% url 'tag-list' %}"></a>Go Back</h3>
        <h4></h4>
    {% endif %}

{% endblock content %}